<Application resource-id="nastools-zoneminder">
  <Version></Version>
  <MinFirmwareVer>6.5.0</MinFirmwareVer>
  <Name>ZoneMinder NT</Name>
  <Author>NAStools</Author>
  <RequireReboot>0</RequireReboot>
  <LaunchURL>https://localhost/apps/nastools-zoneminder</LaunchURL>
  <InfoURL>https://zoneminder.readthedocs.io/en/stable/userguide/gettingstarted.html</InfoURL>
  <DebianPackage>nastools-zoneminder</DebianPackage>
  <ServiceName>fvapp-nastools-zoneminder.service</ServiceName>
  <Description lang="en-us">Video camera security and surveillance solution</Description>
  <ConfigURL/>
</Application>
