[mysqld]
skip-networking
socket = /var/run/mysqld/nastools-zoneminder-db.sock
datadir = /apps/nastools-zoneminder/sql
pid-file = /var/run/mysqld/nastools-zoneminder-db.pid

[client]
socket = /var/run/mysqld/nastools-zoneminder-db.sock
